/*
 * Checkbox
*/
.spui-Checkbox-label {
  border-radius: 2px;
  color: var(--color-text-low-emphasis);
  font-size: 0.8125em;
  line-height: 1.4;
  padding: 0.1em 0.1em 0;
  position: relative;
}

.spui-Checkbox-input {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin-top: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.spui-Checkbox-icon {
  border: solid 1px var(--color-border-mid-emphasis);
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  height: 1.25em;
  margin-right: 8px;
  vertical-align: -0.25em;
  width: 1.25em;
}

.spui-Checkbox-input:checked + .spui-Checkbox-icon {
  background-color: var(--color-object-accent-primary);
  border: solid 1px var(--color-object-accent-primary);
}

/* To add 2px space for outline */
.spui-Checkbox-outline {
  border-radius: 2px;
  bottom: -2px;
  left: -2px;
  position: absolute;
  right: -2px;
  top: -2px;
}

/* box-shadow is used to apply border-radius as outline */
.spui-Checkbox-input:focus ~ .spui-Checkbox-outline {
  box-shadow: 0 0 0 2px var(--color-focus-clarity);
}
