/*
 * Checkbox
*/
.spui-Checkbox-label {
  align-items: center;
  border-radius: 2px;
  color: var(--color-text-low-emphasis);
  display: inline-flex;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  position: relative;
}

.spui-Checkbox-input {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin-top: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.spui-Checkbox-icon {
  align-items: center;
  border: solid 1px var(--color-border-medium-emphasis);
  border-radius: 4px;
  box-sizing: border-box;
  color: transparent;
  display: inline-flex;
  font-size: 0.875em;
  height: 18px;
  justify-content: center;
  width: 18px;
}

.spui-Checkbox-input:checked + .spui-Checkbox-icon {
  background-color: var(--color-object-accent-primary);
  border: solid 1px var(--color-object-accent-primary);
  color: var(--color-text-high-emphasis-inverse);
}

.spui-Checkbox-input:disabled + .spui-Checkbox-icon {
  opacity: 0.3;
}

/* To add 2px space for outline */
.spui-Checkbox-outline {
  border-radius: 2px;
  bottom: -2px;
  height: 22px;
  left: -2px;
  position: absolute;
  right: -2px;
  top: -2px;
  width: 22px;
}

/* box-shadow is used to apply border-radius as outline */
.spui-Checkbox-input:focus ~ .spui-Checkbox-outline {
  box-shadow: 0 0 0 2px var(--color-focus-clarity);
}

.spui-Checkbox-text:not(:empty) {
  margin-left: 8px;
}

.spui-Checkbox-input:checked ~ .spui-Checkbox-text {
  color: var(--color-object-accent-primary);
}

.spui-Checkbox-input:disabled ~ .spui-Checkbox-text {
  color: var(--color-text-disabled);
}
