/*
 * DropDown
*/
.spui-DropDown-label {
  display: inline-block;
  position: relative;
}

.spui-DropDown-select {
  /**
   * Layout should be set to have appropriate width with longest option text.
   * Browsers automatically get the width from select element
  */
  -webkit-appearance: listitem; /* To apply layout (font size, padding etc) to <select> in WebKit */
  box-sizing: border-box;
  font-size: 1em;
  min-height: 40px;
  opacity: 0;
  outline: none;
  padding: 0.5em calc(40px + 1em) 0.5em 1em;
}

.spui-DropDown-visual {
  align-items: center;
  border: solid 1px var(--color-border-medium-emphasis);
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--color-text-disabled);
  display: flex;
  font-size: 1em;
  height: 100%;
  left: 0;
  min-height: 40px;
  padding: 0.5em calc(40px + 1em) 0.5em 1em;
  position: absolute;
  top: 0;
  width: 100%;
}

.spui-DropDown-label.is-active .spui-DropDown-visual {
  color: var(--color-text-high-emphasis);
}

.spui-DropDown-icon {
  align-items: center;
  background-color: var(--color-surface-secondary);
  border: solid 1px var(--color-border-medium-emphasis);
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  box-sizing: border-box;
  color: var(--color-object-low-emphasis);
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
}

.spui-DropDown-outline {
  border-radius: 8px;
  display: inline-block;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.spui-DropDown-select:focus ~ .spui-DropDown-outline {
  border-color: var(--color-border-high-emphasis);
  box-shadow: 0 0 0 3px var(--color-focus-ambiguous);
}

.spui-DropDown-label.is-error .spui-DropDown-visual,
.spui-DropDown-label.is-error .spui-DropDown-icon {
  background-color: var(--color-surface-caution-light);
  border-color: var(--color-border-caution);
}
