/*
 * Radio
*/
:root {
  --Radio-backGroundColor: var(--color-surface-primary);
}

.spui-Radio-label {
  align-items: center;
  border-radius: 2px;
  color: var(--color-text-low-emphasis);
  display: inline-flex;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  position: relative;
}

/* Outline with text */
.spui-Radio-label:focus-within:has(.spui-Radio-text:not(:empty)) {
  box-shadow:
    0 0 0 2px var(--Radio-backGroundColor),
    0 0 0 4px var(--color-focus-clarity);
}

.spui-Radio-label:focus-within:has(.spui-Radio-input:not(:focus-visible)) {
  box-shadow: none;
}

.spui-Radio-input {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin-top: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.spui-Radio-icon {
  align-items: center;
  border: solid 1px var(--color-border-medium-emphasis);
  border-radius: 50%;
  box-sizing: border-box;
  color: transparent;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 0.875em;
  height: 20px;
  justify-content: center;
  vertical-align: top;
  width: 20px;
}

.spui-Radio-input:checked + .spui-Radio-icon {
  background-color: var(--color-object-accent-primary);
  border: solid 1px var(--color-object-accent-primary);
  color: var(--color-text-high-emphasis-inverse);
}

.spui-Radio-input:disabled + .spui-Radio-icon {
  opacity: 0.3;
}

/* To add 2px space for outline */
.spui-Radio-outline {
  border-radius: 50%;
  height: 24px;
  inset: -2px;
  position: absolute;
  width: 24px;
}

/* Outline without text */
.spui-Radio-label:has(:not(.spui-Radio-text))
  .spui-Radio-input:focus-visible
  ~ .spui-Radio-outline {
  box-shadow: 0 0 0 2px var(--color-focus-clarity);
}

.spui-Radio-label:has(.spui-Radio-text):has(:not(.spui-Radio-text:empty))
  .spui-Radio-input:focus-visible
  ~ .spui-Radio-outline {
  box-shadow: none;
}

.spui-Radio-text:not(:empty) {
  margin-left: 8px;
}

.spui-Radio-input:checked ~ .spui-Radio-text {
  color: var(--color-object-accent-primary);
}

.spui-Radio-input:disabled ~ .spui-Radio-text {
  color: var(--color-text-disabled);
}
