/*
 * TextArea
*/
.spui-TextArea {
  background-color: var(--color-surface-primary);
  border: solid 1px var(--color-border-medium-emphasis);
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--color-text-high-emphasis);
  font-size: 1em;
  line-height: 1.4;
  margin: 0;
  min-height: 92px;
  outline: none;
  padding: 12px 16px;
  transition: box-shadow 0.3s;
  width: 100%;
}

.spui-TextArea::placeholder {
  color: var(--color-text-disabled);
}

.spui-TextArea:focus {
  border-color: var(--color-border-high-emphasis);
  box-shadow: 0 0 0 3px var(--color-focus-ambiguous);
}

.spui-TextArea.is-error {
  background-color: var(--color-surface-caution-light);
  border-color: var(--color-border-caution);
}
