/*
 * TextField
*/
.spui-TextField {
  background-color: var(--color-surface-primary);
  border: solid 1px var(--color-border-medium-emphasis);
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--color-text-high-emphasis);
  font-size: 16px;
  margin: 0;
  min-height: 48px;
  outline: none;
  padding: 0 16px;
  transition: box-shadow 0.3s;
  width: 100%;
}

.spui-TextField::placeholder {
  color: var(--color-text-disabled);
}

.spui-TextField:focus {
  border-color: var(--color-border-high-emphasis);
  box-shadow: 0 0 0 3px var(--color-focus-ambiguous);
}

.spui-TextField.is-error {
  background-color: var(--color-surface-caution-light);
  border-color: var(--color-border-caution);
}
