/*
 * Button
 * NOTE: Styles can be overridden with "--Button-*" variables
*/
:root {
  --Button-tapHighlightColor: var(--gray-5-alpha);
  --Button-onFocus-outlineColor: var(--color-focus-clarity);

  --Button--contained-backgroundColor: var(--color-surface-accent-primary);
  --Button--contained-color: var(--color-text-high-emphasis-inverse);
  --Button--contained-onActive-backgroundColor: var(--primary-green-100);
  --Button--contained-onHover-backgroundColor: var(--primary-green-100);

  --Button--outlined-borderColor: var(--color-border-accent-primary);
  --Button--outlined-color: var(--color-text-accent-primary);
  --Button--outlined-onActive-backgroundColor: var(--primary-green-5);
  --Button--outlined-onHover-backgroundColor: var(--primary-green-5);

  --Button--lighted-backgroundColor: var(--color-surface-accent-primary-light);
  --Button--lighted-color: var(--color-text-accent-primary);
  --Button--lighted-onActive-backgroundColor: var(--primary-green-10);
  --Button--lighted-onHover-backgroundColor: var(--primary-green-10);

  --Button--neutral-backgroundColor: var(--color-surface-tertiary);
  --Button--neutral-color: var(--color-text-medium-emphasis);
  --Button--neutral-onActive-backgroundColor: var(--gray-20-alpha);
  --Button--neutral-onHover-backgroundColor: var(--gray-20-alpha);

  --Button--danger-borderColor: var(--color-border-caution);
  --Button--danger-color: var(--color-text-caution);
  --Button--danger-onActive-backgroundColor: var(--caution-red-5-alpha);
  --Button--danger-onHover-backgroundColor: var(--caution-red-5-alpha);
}

/*
 * Button base
*/
.spui-Button {
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  font-family: inherit;
  font-weight: bold;
  justify-content: center;
  line-height: 1.3;
  margin: 0;
  -webkit-tap-highlight-color: var(--Button-tapHighlightColor);
  text-align: center;
  transition: background-color 0.3s;
}

.spui-Button:disabled {
  opacity: 0.3;
}

.spui-Button:focus {
  outline: 2px solid var(--Button-onFocus-outlineColor);
  outline-offset: 1px;
}

.spui-Button:focus:not(:focus-visible) {
  outline: none;
}

/*
 * Button layout
*/
.spui-Button--fullWidth {
  width: 100%;
}

/*
 * Button sizes
*/
.spui-Button--large {
  /* To be relative value with font size; this means base height / base font size  */
  border-radius: calc(48em / 16);
  font-size: 1em;
  min-height: 48px;
  padding-left: 16px;
  padding-right: 16px;
}

.spui-Button--medium {
  border-radius: calc(40em / 14);
  font-size: 0.875em;
  min-height: 40px;
  padding-left: 16px;
  padding-right: 16px;
}

.spui-Button--small {
  border-radius: calc(32em / 13);
  font-size: 0.8125em;
  min-height: 32px;
  padding-left: 10px;
  padding-right: 10px;
}

/*
 * Setting height to a value less then min-height fixes the align-items: center issue in IE11
 * @see https://github.com/philipwalton/flexbugs/issues/231#issue-245848315
*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .spui-Button--large,
  .spui-Button--medium,
  .spui-Button--small {
    height: 1px;
  }
}

/*
 * Button variants
*/
/* contained */
.spui-Button--contained {
  background-color: var(--Button--contained-backgroundColor);
  border: none;
  color: var(--Button--contained-color);
  /* Button variants have different vertical padding to normalize height */
  padding-bottom: 8px;
  padding-top: 8px;
}

.spui-Button--contained:active {
  background-color: var(--Button--contained-onActive-backgroundColor);
}

@media (hover: hover) {
  .spui-Button--contained:not([disabled]):hover {
    background-color: var(--Button--contained-onHover-backgroundColor);
  }
}

/* outlined */
.spui-Button--outlined {
  background-color: transparent;
  border: 2px solid var(--Button--outlined-borderColor);
  color: var(--Button--outlined-color);
  padding-bottom: 6px;
  padding-top: 6px;
}

.spui-Button--outlined:active {
  background-color: var(--Button--outlined-onActive-backgroundColor);
}

@media (hover: hover) {
  .spui-Button--outlined:not([disabled]):hover {
    background-color: var(--Button--outlined-onHover-backgroundColor);
  }
}

/* lighted */
.spui-Button--lighted {
  background-color: var(--Button--lighted-backgroundColor);
  border: none;
  color: var(--Button--lighted-color);
  padding-bottom: 8px;
  padding-top: 8px;
}

.spui-Button--lighted:active {
  background-color: var(--Button--lighted-onActive-backgroundColor);
}

@media (hover: hover) {
  .spui-Button--lighted:not([disabled]):hover {
    background-color: var(--Button--lighted-onHover-backgroundColor);
  }
}

/* neutral */
.spui-Button--neutral {
  background-color: var(--Button--neutral-backgroundColor);
  border: none;
  color: var(--Button--neutral-color);
  padding-bottom: 8px;
  padding-top: 8px;
}

.spui-Button--neutral:active {
  background-color: var(--Button--neutral-onActive-backgroundColor);
}

@media (hover: hover) {
  .spui-Button--neutral:not([disabled]):hover {
    background-color: var(--Button--neutral-onHover-backgroundColor);
  }
}

/* danger */
.spui-Button--danger {
  background-color: transparent;
  border: 2px solid var(--Button--danger-borderColor);
  color: var(--Button--danger-color);
  padding-bottom: 6px;
  padding-top: 6px;
}

.spui-Button--danger:active {
  background-color: var(--Button--danger-onActive-backgroundColor);
}

@media (hover: hover) {
  .spui-Button--danger:not([disabled]):hover {
    background-color: var(--Button--danger-onHover-backgroundColor);
  }
}

/*
 * with Icon
*/
.spui-Button-icon {
  line-height: 0; /* Fix Icon position align */
}

.spui-Button-icon--large {
  font-size: 1.375em; /* Icon 22px / Text 16px = 1.375 */
  margin-right: 6px;
}

.spui-Button-icon--medium {
  font-size: 1.429em; /* Icon 20px / Text 14px =  1.42857142857 */
  margin-right: 4px;
}

.spui-Button-icon--small {
  font-size: 1.23em; /* Icon 16px / Text 13px = 1.23076923077 */
  margin-right: 2px;
}
