/*
 * Button
 *
 * NOTE: Button styles can be overwrite with "--Button-*" variables
 * as it is sometimes different from app's color set.
*/
.spui-Button {
  box-sizing: border-box;
  line-height: 1.3;
  outline: none;
  -webkit-tap-highlight-color: var(--Button-tapHighlightColor, --gray-5-alpha);
  text-align: center;
  transition: background-color var(--Button-transitionDuration, 0.3s);
}

.spui-Button:disabled {
  opacity: var(--Button-onDisabled-opacity, 0.3);
}

.spui-Button:focus {
  box-shadow: var(
    --Button-onFocus-boxShadow,
    0 0 0 1px var(--color-surface-primary),
    0 0 0 3px var(--color-focus-clarity)
  );
}

/*
 * Button layout
*/
.spui-Button--fullWidth {
  width: 100%;
}

/*
 * Button sizes
*/
.spui-Button--large {
  /* To be relative value with font size; this means base height / base font size  */
  border-radius: calc(48em / 18);
  font-size: 18px; /* TODO: Replace relative value (em or rem) */
  min-height: 48px;
  padding-left: 16px;
  padding-right: 16px;
}

.spui-Button--medium {
  border-radius: calc(40em / 18);
  font-size: 18px; /* TODO: Replace relative value (em or rem) */
  min-height: 40px;
  min-width: 88px;
  padding-left: 16px;
  padding-right: 16px;
}

.spui-Button--small {
  border-radius: calc(32em / 13);
  font-size: 13px; /* TODO: Replace relative value (em or rem) */
  min-height: 32px;
  min-width: 60px;
  padding-left: 10px;
  padding-right: 10px;
}

/*
 * Button variants
*/
/* contained */
.spui-Button--contained {
  background-color: var(
    --Button--contained-backgroundColor,
    var(--color-surface-accent-primary)
  );
  border: none;
  color: var(
    --Button--contained-color,
    var(--color-text-high-emphasis-inverse)
  );
  /* Button variants have different vertical padding to normalize height */
  padding-bottom: 8px;
  padding-top: 8px;
}

.spui-Button--contained:active {
  background-color: var(
    --Button--contained-onActive-backgroundColor,
    var(--primary-green-100)
  );
}

@media (hover: hover) {
  .spui-Button--contained:not([disabled]):hover {
    background-color: var(
      --Button--contained-onHover-backgroundColor,
      var(--primary-green-100)
    );
  }
}

/* outlined */
.spui-Button--outlined {
  background-color: var(
    --Button--outlined-backgroundColor,
    var(--color-text-high-emphasis-inverse)
  );
  border: 2px solid
    var(--Button--outlined-borderColor, var(--color-surface-accent-primary));
  color: var(--Button--outlined-color, var(--color-surface-accent-primary));
  padding-bottom: 6px;
  padding-top: 6px;
}

.spui-Button--outlined:active {
  background-color: var(
    --Button--outlined-onActive-backgroundColor,
    var(--primary-green-5)
  );
}

@media (hover: hover) {
  .spui-Button--outlined:not([disabled]):hover {
    background-color: var(
      --Button--outlined-onHover-backgroundColor,
      var(--primary-green-5)
    );
  }
}

/* neutral */
.spui-Button--neutral {
  background-color: var(
    --Button--neutral-backgroundColor,
    var(--color-surface-tertiary)
  );
  border: none;
  color: var(--Button--neutral-backgroundColor, var(--color-text-mid-emphasis));
  padding-bottom: 8px;
  padding-top: 8px;
}

.spui-Button--neutral:active {
  background-color: var(
    --Button--neutral-onActive-backgroundColor,
    var(--gray-20-alpha)
  );
}

@media (hover: hover) {
  .spui-Button--neutral:not([disabled]):hover {
    background-color: var(
      --Button--neutral-onHover-backgroundColor,
      var(--gray-20-alpha)
    );
  }
}

/* danger */
.spui-Button--danger {
  background-color: var(
    --Button--danger-backgroundColor,
    var(--color-text-high-emphasis-inverse)
  );
  border: 2px solid var(--Button--danger-borderColor, var(--color-text-caution));
  color: var(--Button--danger-color, var(--color-text-caution));
  padding-bottom: 6px;
  padding-top: 6px;
}

.spui-Button--danger:active {
  background-color: var(
    --Button--danger-onActive-backgroundColor,
    var(--caution-red-5-alpha)
  );
}

@media (hover: hover) {
  .spui-Button--danger:not([disabled]):hover {
    background-color: var(
      --Button--danger-onHover-backgroundColor,
      var(--caution-red-5-alpha)
    );
  }
}
