/*
 * TextField
*/
.spui-TextField {
  background-color: var(--color-surface-primary);
  border: solid 1px var(--color-border-medium-emphasis);
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--color-text-high-emphasis);
  font-size: 1em;
  margin: 0;
  outline: none;
  padding: 0 16px;
  transition: box-shadow 0.3s;
  width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  .spui-TextField {
    transition: box-shadow 0.1ms;
  }
}

.spui-TextField::placeholder {
  color: var(--color-text-disabled);
}

.spui-TextField:focus {
  border-color: var(--color-border-high-emphasis);
  box-shadow: 0 0 0 3px var(--color-focus-ambiguous);
}

.spui-TextField:focus:not(:focus-visible) {
  border-color: var(--color-border-medium-emphasis);
  box-shadow: none;
}

.spui-TextField.is-error,
.spui-TextField:user-invalid {
  background-color: var(--color-surface-caution-light);
  border-color: var(--color-border-caution);
}

/*
 * Height (Size)
*/
.spui-TextField--large {
  min-height: 48px;
}

.spui-TextField--medium {
  min-height: 40px;
}
