/*
 * Breadcrumb
*/
.spui-Breadcrumb {
  overflow: scroll hidden;
}

.spui-Breadcrumb--standard {
  padding: 12px 0;
  position: relative;
}

/* Display inner border */
.spui-Breadcrumb--standard::before {
  background: var(--color-border-low-emphasis);
  bottom: 0;
  content: '';
  height: 1px;
  position: absolute;
  width: 100%;
}

.spui-Breadcrumb--emphasized .spui-Breadcrumb-list {
  background: var(--color-surface-secondary);
  border-radius: 70px;
}

.spui-Breadcrumb-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 16px;
  width: max-content;
}

.spui-Breadcrumb-item {
  align-items: center;
  display: flex;
}

/* stylelint-disable plugin/selector-bem-pattern */
.spui-Breadcrumb--emphasized .spui-Breadcrumb-item,
.spui-Breadcrumb--emphasized a::before {
  min-height: 44px;
}

.spui-Breadcrumb a {
  align-items: center;
  border-radius: 4px;
  display: flex;
  font-size: 0.875em;
  line-height: 1.4;
  padding: 4px 8px;
  position: relative;
  text-decoration: none;
}

.spui-Breadcrumb a:not([aria-current]) {
  color: var(--color-text-accent-primary);
  font-weight: bold;
}

.spui-Breadcrumb a[aria-current] {
  color: var(--color-text-low-emphasis);
  font-weight: normal;
}

.spui-Breadcrumb a::before {
  border-radius: 4px;
  content: '';
  left: 0;
  position: absolute;
  top: -50%;
  width: 100%;
}

.spui-Breadcrumb a:hover {
  text-decoration: underline;
}

.spui-Breadcrumb a:focus {
  outline: 2px solid var(--color-focus-clarity);
  outline-offset: 1px;
}

.spui-Breadcrumb a:focus:not(:focus-visible) {
  outline: none;
}
/* stylelint-enable plugin/selector-bem-pattern */

.spui-Breadcrumb-chevron {
  color: var(--color-object-low-emphasis);
  height: 16px;
  padding: 0 4px;
  width: 16px;
}

.spui-Breadcrumb-item:last-of-type > .spui-Breadcrumb-chevron {
  display: none;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .spui-Breadcrumb-list {
    padding: 0 14px;
  }

  /* stylelint-disable plugin/selector-bem-pattern */
  .spui-Breadcrumb--emphasized .spui-Breadcrumb-item,
  .spui-Breadcrumb--emphasized a::before {
    min-height: 36px;
  }

  .spui-Breadcrumb a {
    font-size: 0.8125em;
    padding: 2px 6px;
  }
  /* stylelint-enable plugin/selector-bem-pattern */

  .spui-Breadcrumb-chevron {
    height: 12px;
    padding: 0 2px;
    width: 12px;
  }
}
