/*
 * Breadcrumb
*/
.spui-Breadcrumb {
  background: var(--color-surface-secondary);
  border-radius: 70px;
  display: inline-block;
  overflow: hidden;
  padding: 0 16px;
}

.spui-Breadcrumb-list {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.spui-Breadcrumb-item {
  align-items: center;
  display: flex;
  min-height: 56px;
}

/* stylelint-disable plugin/selector-bem-pattern */
.spui-Breadcrumb a {
  align-items: center;
  display: flex;
  letter-spacing: 0.1em;
  line-height: 1.3;
  padding: 4px 8px;
  position: relative;
}

.spui-Breadcrumb a[href] {
  border-radius: 4px;
  color: var(--color-text-accent-primary);
  font-weight: bold;
  text-decoration: none;
}

.spui-Breadcrumb a[href]::before {
  border-radius: 4px;
  content: '';
  left: 0;
  min-height: 56px;
  position: absolute;
  top: -50%;
  width: 100%;
}

.spui-Breadcrumb a[href]:hover {
  text-decoration: underline;
}

.spui-Breadcrumb a:not([href]) {
  color: var(--color-text-low-emphasis);
  font-weight: normal;
}

.spui-Breadcrumb a:focus {
  box-shadow: 0 0 0 1px var(--color-surface-secondary),
    0 0 0 3px var(--color-focus-clarity);
  outline: none;
}

.spui-Breadcrumb a:focus:not(:focus-visible) {
  box-shadow: none;
}
/* stylelint-enable plugin/selector-bem-pattern */

.spui-Breadcrumb-chevron {
  color: var(--color-object-low-emphasis);
  height: 16px;
  padding: 0 4px;
  width: 16px;
}

.spui-Breadcrumb-item:last-of-type > .spui-Breadcrumb-chevron {
  display: none;
  padding: 0;
}

@media screen and (max-width: 375px) {
  .spui-Breadcrumb {
    padding: 0 14px;
  }

  .spui-Breadcrumb-item {
    min-height: 40px;
  }

  /* stylelint-disable plugin/selector-bem-pattern */
  .spui-Breadcrumb a {
    font-size: 0.8125em;
    padding: 2px 6px;
  }

  .spui-Breadcrumb a[href]::before {
    min-height: 40px;
  }
  /* stylelint-enable plugin/selector-bem-pattern */

  .spui-Breadcrumb-chevron {
    height: 12px;
    padding: 0 2px;
    width: 12px;
  }
}
