@import "../../IconButton/IconButton.css";
/*
 * SemiModal
 * NOTE: Styles can be overridden with "--SemiModal-*" variables
*/
:root {
  --SemiModal-footer-justifyContent: right;
  --SemiModal-footer-button-minWidth: 160px;
  --SemiModal-sp-footer-justifyContent: center;
}

.spui-SemiModal {
  background: var(--color-surface-primary);
  border: none;
  border-radius: 20px;
  /* TODO: replace color with color palette */
  box-shadow: 0 11px 28px rgba(8, 18, 26, 0.12);
  height: fit-content;
  opacity: 0;
  padding: 0;
  position: fixed;
  transition:
    opacity 350ms cubic-bezier(0, 0, 0, 1),
    display 350ms allow-discrete,
    overlay 350ms allow-discrete;
  width: fit-content;
}

.spui-SemiModal[data-type="sheet"] {
  border-radius: 20px 20px 0 0;
  bottom: 0;
  margin: auto auto 0;
  transform: translateY(100%);
  transition:
    opacity 350ms cubic-bezier(0, 0, 0, 1),
    transform 350ms cubic-bezier(0, 0, 0, 1),
    display 350ms allow-discrete,
    overlay 350ms allow-discrete;
  will-change: translate;
}

.spui-SemiModal[open],
.spui-SemiModal--styleOnly,
.spui-SemiModal[open]::backdrop {
  opacity: 1;
}

.spui-SemiModal::backdrop {
  /* TODO: replace color with color palette, backdrop does not accept variable */
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition:
    opacity 350ms cubic-bezier(0, 0, 0, 1),
    display 350ms allow-discrete,
    overlay 350ms allow-discrete;
}

.spui-SemiModal[data-type="sheet"][open] {
  transform: translateY(0);
}

/* Starting style for smooth transitions */
@starting-style {
  .spui-SemiModal[open] {
    opacity: 0;
  }

  .spui-SemiModal[open]::backdrop {
    opacity: 0;
  }

  .spui-SemiModal[data-type="sheet"][open] {
    transform: translateY(100%);
  }
}

@media (prefers-reduced-motion: reduce) {
  .spui-SemiModal,
  .spui-SemiModal::backdrop {
    transition-duration: 0.01s;
  }
}

/* stylelint-disable-next-line plugin/selector-bem-pattern */
html:has(.spui-SemiModal[open]) {
  overflow: hidden;
}

/* The minimum margin for the small devices */
/* 440px is calculated from dialog width (400px) + minimum margin (20px * 2) */
/* width property is calculated from 100% - (minimum margin * 2) */
@media screen and (max-width: 440px) {
  .spui-SemiModal {
    width: calc(100% - (20px * 2));
  }
}

/*
 * Override focus styles in Dialog. This can be removed when Safari supports the following styles.
 * - Safari displays focus ring even when :focus-visible
 * - Safari does not support radius outline
*/
.spui-SemiModal
:is(
  .spui-Button,
  .spui-LinkButton,
  .spui-IconButton,
  .spui-SubtleButton
):focus {
  box-shadow:
    0 0 0 1px var(--color-surface-secondary),
    0 0 0 2px var(--color-focus-clarity);
  outline: none;
}

.spui-SemiModal
  :is(
    .spui-Button,
    .spui-LinkButton,
    .spui-IconButton,
    .spui-SubtleButton
  ):focus:not(:focus-visible) {
  box-shadow: none;
}

.spui-SemiModal-frame {
  box-sizing: border-box;
  color: var(--color-text-medium-emphasis);
  display: flex;
  flex-direction: column;
  padding: 0 16px 36px 36px;
}

.spui-SemiModal-header {
  align-items: center;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  overflow-wrap: break-word;
  padding: 32px 8px 32px 0;
}

.spui-SemiModal-closeIconButton {
  height: 48px;
  width: 48px;
  /* stylelint-disable plugin/selector-bem-pattern */
  --IconButton--neutral-backgroundColor: transparent;
  --IconButton--neutral-onHover-backgroundColor: var(--color-surface-tertiary);
  /* stylelint-enable plugin/selector-bem-pattern */
}

.spui-SemiModal-headerTitle {
  -webkit-box-orient: vertical;
  color: var(--color-text-high-emphasis);
  display: -webkit-box;
  font-size: 1.25em;
  font-weight: 600;
  height: fit-content;
  -webkit-line-clamp: 3;
  line-height: 1.4;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.spui-SemiModal-contents {
  line-height: 1.6;
  overflow: hidden scroll;
}

.spui-SemiModal-contents::-webkit-scrollbar {
  border-radius: 4px;
  width: 8px;
}

.spui-SemiModal-contents::-webkit-scrollbar-thumb {
  background: var(--color-object-low-emphasis);
  border-radius: 4px;
}

.spui-SemiModal-contents::-webkit-scrollbar-track:enabled {
  background-color: var(--color-surface-secondary);
  border-radius: 4px;
}

.spui-SemiModal-footer {
  background-color: var(--color-surface-primary);
  bottom: 0;
  display: flex;
  padding: 24px 20px 0 0;
}

.spui-SemiModal-footer:empty {
  padding: 0 0 36px;
}

@media screen and (min-width: 768px) {
  .spui-SemiModal[data-type="popup"][data-size="small"] .spui-SemiModal-frame {
    max-height: 400px;
    max-width: 480px;
  }

  .spui-SemiModal[data-type="popup"][data-size="medium"] .spui-SemiModal-frame {
    max-height: 700px;
    max-width: 840px;
  }

  .spui-SemiModal[data-type="popup"][data-size="large"] .spui-SemiModal-frame {
    max-height: 840px;
    max-width: 1024px;
  }

  .spui-SemiModal[data-type="sheet"] .spui-SemiModal-frame {
    max-height: calc(100dvh - 200px);
  }

  .spui-SemiModal[data-type="sheet"][data-size="small"] .spui-SemiModal-frame {
    max-width: 480px;
  }

  .spui-SemiModal[data-type="sheet"][data-size="medium"] .spui-SemiModal-frame {
    max-width: 840px;
  }

  .spui-SemiModal[data-type="sheet"][data-size="large"] .spui-SemiModal-frame {
    max-width: 1024px;
  }

  .spui-SemiModal-footer {
    justify-content: var(--SemiModal-footer-justifyContent);
  }

  .spui-SemiModal-footer :is(.spui-Button, .spui-LinkButton) {
    min-width: var(--SemiModal-footer-button-minWidth);
  }
}

@media screen and (max-width: 768px) {
  .spui-SemiModal[data-type="sheet"] {
    margin: auto 0 0;
    /* useragent stylesheetによるmax-width指定の上書き */
    max-width: 100%;
    width: 100%;
  }

  .spui-SemiModal[data-type="popup"] .spui-SemiModal-frame,
  .spui-SemiModal[data-type="sheet"] .spui-SemiModal-frame {
    /*
     * popup時は上下に20pxずつの余白を持つ
     * sheet時は上に40pxの余白を持つ
    */
    max-height: calc(100dvh - (20px * 2));
  }

  .spui-SemiModal[data-type="popup"] {
    margin: auto 20px;
  }

  .spui-SemiModal-contents {
    max-height: 100%;
  }

  .spui-SemiModal-header {
    padding: 24px 0;
  }

  .spui-SemiModal-closeIconButton {
    height: 24px;
    width: 24px;
    /* stylelint-disable plugin/selector-bem-pattern */
    --IconButton--neutral-onHover-backgroundColor: transparent;
    /* stylelint-enable plugin/selector-bem-pattern */
  }

  .spui-SemiModal-frame {
    padding: 0 20px 24px;
  }

  .spui-SemiModal-footer {
    justify-content: var(--SemiModal-sp-footer-justifyContent);
    padding: 16px 0 0;
  }

  .spui-SemiModal-footer :is(.spui-Button, .spui-LinkButton) {
    max-width: 360px;
    width: 100%;
  }
}
