@import '../IconButton/IconButton.css';
@import '../TextLink/TextLink.css';
@import '../TextButton/TextButton.css';

:root {
  --SnackBar-z-index: 1;
  --SnackBar-onFocus-outlineColor: var(--color-focus-clarity);
}

.spui-SnackBar {
  box-sizing: border-box;
  left: 0;
  padding: 0 var(--SnackBar--offset-right) 0 var(--SnackBar--offset-left);
  position: fixed;
  right: 0;
  text-align: var(--SnackBar--text-align);
  z-index: var(--SnackBar-z-index);
}

.spui-SnackBar-content {
  align-items: center;
  border-radius: 16px;
  box-shadow: 0px 11px 28px rgba(8, 18, 26, 0.24);
  box-sizing: border-box;
  display: inline-grid;
  grid-template: 'Icon Text Button IconButton' auto / auto 1fr auto auto;
  max-width: 440px;
  min-height: 52px;
  min-width: 360px;
  padding: 14px 16px 14px 20px;
}

.spui-SnackBar-icon {
  flex-shrink: 0;
  font-size: 1.375rem;
  grid-area: Icon;
  line-height: 0;
  margin-right: 12px;
}

.spui-SnackBar-text {
  --SnackBar-max-lines: 3;

  font-family: inherit;
  font-size: 0.875rem;
  font-weight: bold;
  grid-area: Text;
  line-height: 1.6;
  max-height: calc(1em * 1.6 * var(--SnackBar-max-lines));
  overflow: hidden;
  text-align: left;
}

.spui-SnackBar-button {
  font-size: 0.875rem;
  grid-area: Button;
  margin-left: 16px;
  margin-right: 13px; /* margin for border + border width */
  position: relative;
}

.spui-SnackBar-button::after {
  bottom: 0;
  content: '';
  display: inline-block;
  position: absolute;
  right: -12px;
  top: 0;
  width: 1px;
}

.spui-SnackBar--top {
  top: 0;
  transform: translateY(
    calc(var(--SnackBar--initial-height-top) - var(--SnackBar--offset-top))
  );
}

.spui-SnackBar--bottom {
  bottom: 0;
  transform: translateY(
    calc(
      (var(--SnackBar--initial-height-bottom) - var(--SnackBar--offset-bottom)) *
        -1
    )
  );
}

.spui-SnackBar--slide {
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.spui-SnackBar--hidden {
  visibility: hidden;
}

.spui-SnackBar-slide--in {
  opacity: 1;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.spui-SnackBar-slide--in.spui-SnackBar--top {
  transform: translateY(var(--SnackBar--order-offset-top));
}

.spui-SnackBar-slide--in.spui-SnackBar--bottom {
  transform: translateY(var(--SnackBar--order-offset-bottom));
}

.spui-SnackBar-iconButton {
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --IconButton--neutral-backgroundColor: transparent;
  grid-area: IconButton;
  margin-left: 12px;
}

/* === Information === */

.spui-SnackBar-content--information {
  /* TODO: use --color-surface-accent-neutral-high-emphasis */
  background-color: var(--gray-80);
  color: var(--color-text-high-emphasis-inverse);
}

.spui-SnackBar-iconButton--information {
  /* stylelint-disable plugin/selector-bem-pattern */
  --IconButton--neutral-onActive-backgroundColor: var(--white-20-alpha);
  --IconButton--neutral-onHover-backgroundColor: var(--white-20-alpha);
  --IconButton--neutral-color: var(--color-object-high-emphasis-inverse);
  /* stylelint-enable plugin/selector-bem-pattern */
}

.spui-SnackBar-button--information {
  /* stylelint-disable plugin/selector-bem-pattern */
  --TextLink-color: var(--color-text-high-emphasis-inverse);
  --TextLink-icon-color: var(--color-object-high-emphasis-inverse);
  --TextButton-color: var(--color-text-high-emphasis-inverse);
  --TextButton-icon-color: var(--color-object-high-emphasis-inverse);
  /* stylelint-enable plugin/selector-bem-pattern */
}

.spui-SnackBar-button--information::after {
  /* TODO: use --color-border-low-emphasis-inverse */
  background: var(--white-20-alpha);
}

/* === Confirmation === */

.spui-SnackBar-content--confirmation {
  background-color: var(--color-surface-primary);
  border: 2px solid var(--color-border-low-emphasis);
  color: var(--color-text-accent-primary);
}

.spui-SnackBar-iconButton--confirmation {
  /* stylelint-disable plugin/selector-bem-pattern */
  --IconButton--neutral-onActive-backgroundColor: var(--gray-20-alpha);
  --IconButton--neutral-onHover-backgroundColor: var(--gray-20-alpha);
  --IconButton--neutral-color: var(--color-object-low-emphasis);
  /* stylelint-enable plugin/selector-bem-pattern */
}

.spui-SnackBar-button--confirmation {
  /* stylelint-disable plugin/selector-bem-pattern */
  --TextLink-color: var(--color-text-low-emphasis);
  --TextLink-icon-color: var(--color-object-low-emphasis);
  --TextButton-color: var(--color-text-low-emphasis);
  --TextButton-icon-color: var(--color-object-low-emphasis);
  /* stylelint-enable plugin/selector-bem-pattern */
}

.spui-SnackBar-button--confirmation::after {
  background: var(--color-border-low-emphasis);
}

/* === Error === */

.spui-SnackBar-content--error {
  background-color: var(--color-surface-caution);
  color: var(--color-text-high-emphasis-inverse);
}

.spui-SnackBar-iconButton--error {
  /* stylelint-disable plugin/selector-bem-pattern */
  --IconButton--neutral-onActive-backgroundColor: var(--white-20-alpha);
  --IconButton--neutral-onHover-backgroundColor: var(--white-20-alpha);
  --IconButton--neutral-color: var(--color-object-high-emphasis-inverse);
  /* stylelint-enable plugin/selector-bem-pattern */
}

.spui-SnackBar-button--error {
  /* stylelint-disable plugin/selector-bem-pattern */
  --TextLink-color: var(--color-text-high-emphasis-inverse);
  --TextLink-icon-color: var(--color-object-high-emphasis-inverse);
  --TextButton-color: var(--color-text-high-emphasis-inverse);
  --TextButton-icon-color: var(--color-object-high-emphasis-inverse);
  /* stylelint-enable plugin/selector-bem-pattern */
}

.spui-SnackBar-button--error::after {
  /* TODO: use --color-border-low-emphasis-inverse */
  background: var(--white-20-alpha);
}

@media (prefers-reduced-motion: reduce) {
  .spui-SnackBar--slide {
    transition-duration: 0.1ms;
  }

  .spui-SnackBar-slide--in {
    transition-duration: 0.1ms;
  }
}

/* `max-width` for the SnackBar is set to 440px and horizontal margin is 12px on the desktop. */
/* Therefore, breakpoint is 464px that is the sum of the max-width and horizontal margin. */
@media (max-width: 464px) {
  .spui-SnackBar {
    padding: 0 12px;
    text-align: center;

    /* On mobile device, the snack bar position is fixed at the bottom */
    /* stylelint-disable-next-line order/properties-alphabetical-order */
    bottom: 0;
    top: unset;
    transform: translateY(
      calc(
        (
            var(--SnackBar--initial-height-bottom) -
              var(--SnackBar--offset-bottom)
          ) * -1
      )
    );
  }

  .spui-SnackBar-slide--in.spui-SnackBar--top {
    transform: translateY(var(--SnackBar--order-offset-bottom));
  }

  .spui-SnackBar-content {
    border-radius: 82px;
    max-width: 400px;
    min-width: calc(100% - 24px);
    padding: 14px 16px 14px 20px;
  }
}

@media (max-width: 320px) {
  .spui-SnackBar-text {
    --SnackBar-max-lines: 4;
  }
}
