/*
 * InputLabel
*/
.spui-InputLabel {
  color: var(--color-text-medium-emphasis);
  display: block;
  font-size: 0.875em;
  font-weight: bold;
  line-height: 1.4;
}

.spui-InputLabel:empty {
  display: none;
}
