.spui-Dialog {
  background: var(--color-surface-primary);
  border: none;
  border-radius: 20px;
  /* TODO: replace color with color palette */
  box-shadow: 0 11px 28px rgba(8, 18, 26, 0.12);
  color: var(--color-text-medium-emphasis);
  padding: 36px;
  /* NOTE: box-sizing does not work well with dialog-polyfill */
  width: calc(400px - 36px * 2);
}

@media screen and (max-width: 400px) {
  .spui-Dialog {
    /* 56px * 2 is the minimum margin for the small devices */
    width: calc(400px - (36px * 2 + 56px * 2));
  }
}

.spui-Dialog::backdrop {
  /* TODO: replace color with color palette, backdrop does not accept variable */
  background: rgba(0, 0, 0, 0.8);
}

/* stylelint-disable-next-line plugin/selector-bem-pattern */
.spui-Dialog + .backdrop {
  background: rgba(0, 0, 0, 0.8);
}

.spui-Dialog-title {
  color: var(--color-text-high-emphasis);
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  text-align: center;
}

.spui-Dialog-body {
  color: var(--color-text-medium-emphasis);
  font-size: 0.875em;
  line-height: 1.6;
  margin: 16px 0 0;
  text-align: center;
}

.spui-Dialog-buttonGroup {
  align-items: center;
  justify-content: center;
  margin: 32px 0 0;
  text-align: center;
}

/* stylelint-disable-next-line plugin/selector-bem-pattern */
.spui-Dialog-buttonGroup .spui-Button {
  max-width: 240px;
}
