.spui-Rate-list {
  display: flex;
  gap: 2px;
  margin: 0;
  padding: 0;
}

.spui-Rate-item {
  list-style: none;
}

.spui-Rate-item-half {
  display: block;
  position: relative;
}

.spui-Rate-item-icon + .spui-Rate-item-icon {
  left: 0;
  position: absolute;
  top: 0;
}
