/*
 * DropdownMenu
 * NOTE: Styles can be overridden with "--DropdownMenu-*" variables
*/
:root {
  --DropdownMenu-onFocus-outlineColor: var(--color-focus-clarity);
  --DropdownMenu-menu-gap: 8px;
}

.spui-DropdownMenu {
  position: relative;
  width: fit-content;
}

.spui-DropdownMenu-menu {
  animation: 0.3s spui-DropdownMenu-fade-in;
  background-color: var(--color-surface-primary);
  border: none;
  border-radius: 12px;
  box-shadow: 0px 11px 28px rgba(8, 18, 26, 0.12);
  box-sizing: border-box;
  display: none;
  list-style: none;
  margin: 0;
  opacity: 0;
  padding: 12px 0;
  position: absolute;
  transition:
    opacity 300ms,
    display 300ms allow-discrete,
    overlay 300ms allow-discrete;
  width: 256px;
}

.spui-DropdownMenu-menu:popover-open {
  display: block;
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}

.spui-DropdownMenu-menu--topRight {
  inset-area: top span-left;
  margin: 0 0 var(--DropdownMenu-menu-gap);
}

.spui-DropdownMenu-menu--topCenter {
  inset-area: top;
  margin: 0 0 var(--DropdownMenu-menu-gap);
}

.spui-DropdownMenu-menu--topLeft {
  inset-area: top span-right;
  margin: 0 0 var(--DropdownMenu-menu-gap);
}

.spui-DropdownMenu-menu--rightTop {
  inset-area: right span-bottom;
  margin: 0 0 0 var(--DropdownMenu-menu-gap);
}

.spui-DropdownMenu-menu--rightCenter {
  inset-area: right center;
  margin: 0 0 0 var(--DropdownMenu-menu-gap);
}

.spui-DropdownMenu-menu--rightBottom {
  inset-area: right span-top;
  margin: 0 0 0 var(--DropdownMenu-menu-gap);
}

.spui-DropdownMenu-menu--bottomRight {
  inset-area: bottom span-left;
  margin: var(--DropdownMenu-menu-gap) 0 0;
}

.spui-DropdownMenu-menu--bottomCenter {
  inset-area: bottom;
  margin: var(--DropdownMenu-menu-gap) 0 0;
}

.spui-DropdownMenu-menu--bottomLeft {
  inset-area: bottom span-right;
  margin: var(--DropdownMenu-menu-gap) 0 0;
}

.spui-DropdownMenu-menu--leftTop {
  inset-area: left span-bottom;
  margin: 0 var(--DropdownMenu-menu-gap) 0 0;
}

.spui-DropdownMenu-menu--leftCenter {
  inset-area: left center;
  margin: 0 var(--DropdownMenu-menu-gap) 0 0;
}

.spui-DropdownMenu-menu--leftBottom {
  inset-area: left span-top;
  margin: 0 var(--DropdownMenu-menu-gap) 0 0;
}

/* TODO: use position-try */
@media screen and (max-width: 768px) {
  .spui-DropdownMenu-menu--rightTop,
  .spui-DropdownMenu-menu--rightCenter,
  .spui-DropdownMenu-menu--rightBottom {
    inset-area: bottom span-right;
    margin: var(--DropdownMenu-menu-gap) 0 0;
  }

  .spui-DropdownMenu-menu--leftTop,
  .spui-DropdownMenu-menu--leftCenter,
  .spui-DropdownMenu-menu--leftBottom {
    inset-area: bottom span-left;
    margin: var(--DropdownMenu-menu-gap) 0 0;
  }
}

.spui-DropdownMenu-menuButton {
  align-items: center;
  background-color: var(--color-surface-primary);
  border: none;
  display: flex;
  font-size: 1em;
  position: relative;
  transition: background-color 0.3s;
  width: 100%;
}

.spui-DropdownMenu-menu--text .spui-DropdownMenu-menuButton,
.spui-DropdownMenu-menu--textWithIcon .spui-DropdownMenu-menuButton {
  padding: 10px 16px;
}

.spui-DropdownMenu-menu--headWithIcon .spui-DropdownMenu-menuButton {
  padding: 16px;
}

.spui-DropdownMenu-menu--headWithIconAndCaption .spui-DropdownMenu-menuButton {
  padding: 14px 16px;
}

.spui-DropdownMenu-menuButton:hover {
  background-color: var(--color-surface-secondary);
}

.spui-DropdownMenu-menuButton:focus-visible {
  outline-color: var(--DropdownMenu-onFocus-outlineColor);
  outline-width: 2px;
}

.spui-DropdownMenu-menuItem .spui-DropdownMenu-menuButton::before {
  background-color: var(--color-border-low-emphasis);
  content: '';
  height: 1px;
  position: absolute;
  top: 0;
  width: calc(100% - 32px);
}

.spui-DropdownMenu-menuItem:first-child .spui-DropdownMenu-menuButton::before {
  height: 0;
}

.spui-DropdownMenu-iconContainer {
  color: var(--color-object-high-emphasis);
  display: flex;
  font-size: 1.5em;
  margin-right: 16px;
}

.spui-DropdownMenu-textContainer {
  text-align: left;
}

.spui-DropdownMenu-title {
  color: var(--color-text-high-emphasis);
  font-size: 1em;
  line-height: 1.3;
  margin: 0;
}

.spui-DropdownMenu-caption {
  color: var(--color-text-low-emphasis);
  font-size: 0.75em;
  line-height: 1.4;
  margin: 4px 0 0;
}

@media (prefers-reduced-motion: reduce) {
  .spui-DropdownMenu-menu {
    transition-duration: 0.1s;
  }
}
