/*
 * HeroCarouselItem
*/
.spui-HeroCarouselItem-listItem {
  list-style: none;
  padding: 0 0.44em;
  width: 100%;
}

.spui-HeroCarouselItem-link {
  border: 1px solid var(--color-border-low-emphasis);
  border-radius: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 12em;
  text-decoration: none;
  width: 17.5em;
}

.spui-HeroCarouselItem-link:focus {
  outline: 2px solid var(--color-focus-clarity);
  outline-offset: 1px;
}

.spui-HeroCarouselItem-link:focus:not(:focus-visible) {
  outline: none;
}

.spui-HeroCarouselItem-imageBlock {
  align-items: center;
  border-bottom: 1px solid var(--color-border-low-emphasis);
  border-radius: 12px 12px 0 0;
  display: flex;
  height: 9.5em;
  justify-content: center;
  overflow: hidden;
}

.spui-HeroCarouselItem-image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.spui-HeroCarouselItem-titleContainer {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 2.89em;
  justify-content: center;
  padding: 0 0.5em;
}

.spui-HeroCarouselItem-title {
  color: var(--color-text-high-emphasis);
  font-size: 0.9375em;
  font-weight: bold;
  margin: 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .spui-HeroCarouselItem-listItem {
    padding: 0 0.75em;
  }

  .spui-HeroCarouselItem-link {
    height: 13.8em;
    width: 20em;
  }

  .spui-HeroCarouselItem-titleContainer {
    height: 3.3em;
  }

  .spui-HeroCarouselItem-title {
    font-size: 1em;
  }

  .spui-HeroCarouselItem-imageBlock {
    height: 10.9em;
  }
}
