/*
 * Button Group
*/
.spui-ButtonGroup {
  display: flex;
}

/* Direction */
.spui-ButtonGroup--row {
  flex-direction: row;
}

.spui-ButtonGroup--column {
  flex-direction: column;
}

/* NOTE: gap property should be used in the near future */

/* stylelint-disable plugin/selector-bem-pattern */
.spui-ButtonGroup--large.spui-ButtonGroup--row > *:not(:first-child) {
  margin-left: 16px;
}

.spui-ButtonGroup--large.spui-ButtonGroup--column > *:not(:first-child) {
  margin-top: 16px;
}

.spui-ButtonGroup--medium.spui-ButtonGroup--row > *:not(:first-child) {
  margin-left: 12px;
}

.spui-ButtonGroup--medium.spui-ButtonGroup--column > *:not(:first-child) {
  margin-top: 12px;
}

.spui-ButtonGroup--small.spui-ButtonGroup--row > *:not(:first-child) {
  margin-left: 8px;
}

.spui-ButtonGroup--small.spui-ButtonGroup--column > *:not(:first-child) {
  margin-top: 12px;
}

/* Override margin for Subtle button */
:is(.spui-ButtonGroup--large, .spui-ButtonGroup--medium).spui-ButtonGroup--column
  > .spui-SubtleButton:not(:first-child) {
  margin-top: 14px;
}
