/*
 * Button Group
*/
.spui-ButtonGroup {
  display: flex;
}

/* Direction */
.spui-ButtonGroup--row {
  flex-direction: row;
}

.spui-ButtonGroup--column {
  flex-direction: column;
}

/* stylelint-disable plugin/selector-bem-pattern */
.spui-ButtonGroup--large {
  gap: 16px;
}

.spui-ButtonGroup--medium,
.spui-ButtonGroup--small {
  gap: 12px;
}

/* Add margin for Subtle button */
.spui-ButtonGroup--large.spui-ButtonGroup--column
> .spui-SubtleButton:not(:first-child) {
  margin-top: 4px;
}

.spui-ButtonGroup--medium.spui-ButtonGroup--column
  > .spui-SubtleButton:not(:first-child) {
  margin-top: 2px;
}
