/*
 * Button Group
*/
.spui-ButtonGroup {
  display: flex;
}

/* Direction */
.spui-ButtonGroup--row {
  flex-direction: row;
}

.spui-ButtonGroup--column {
  flex-direction: column;
}

/* Size */

/* NOTE: gap property should be used in the near future */

/* stylelint-disable plugin/selector-bem-pattern */
.spui-ButtonGroup--large.spui-ButtonGroup--row > * {
  margin-right: 16px;
}

.spui-ButtonGroup--large.spui-ButtonGroup--row > *:last-child {
  margin-right: 0;
}

.spui-ButtonGroup--large.spui-ButtonGroup--column > * {
  margin-bottom: 16px;
}

.spui-ButtonGroup--large.spui-ButtonGroup--column > *:last-child {
  margin-bottom: 0;
}

.spui-ButtonGroup--medium.spui-ButtonGroup--row > * {
  margin-right: 12px;
}

.spui-ButtonGroup--medium.spui-ButtonGroup--row > *:last-child {
  margin-right: 0;
}

.spui-ButtonGroup--medium.spui-ButtonGroup--column > * {
  margin-bottom: 12px;
}

.spui-ButtonGroup--medium.spui-ButtonGroup--column > *:last-child {
  margin-bottom: 0;
}

.spui-ButtonGroup--small.spui-ButtonGroup--row > * {
  margin-right: 8px;
}

.spui-ButtonGroup--small.spui-ButtonGroup--row > *:last-child {
  margin-right: 0;
}

.spui-ButtonGroup--small.spui-ButtonGroup--column > * {
  margin-bottom: 12px;
}

.spui-ButtonGroup--small.spui-ButtonGroup--column > *:last-child {
  margin-bottom: 0;
}
