.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding: 12px;
  border-bottom: 1px solid var(--color-border-low-emphasis);
}

.btn {
  --Button--neutral-backgroundColor: var(--color-surface-primary);
  --Button--neutral-color: var(--color-text-high-emphasis);
  --Button--neutral-onHover-backgroundColor: var(--color-hover-neutral-button);
  --Button--neutral-onActive-backgroundColor: var(--color-active-neutral-button);
}

.active {
  --Button--neutral-backgroundColor: var(--color-surface-accent-neutral-high-emphasis);
  --Button--neutral-color: var(--color-text-high-emphasis-inverse);
  --Button--neutral-onHover-backgroundColor: var(--color-surface-accent-neutral-medium-emphasis);
  --Button--neutral-onActive-backgroundColor: var(--color-surface-accent-neutral-medium-emphasis);
}
