/*
 * IconButton
 * NOTE: Styles can be overridden with "--IconButton-*" variables
*/
:root {
  --IconButton-tapHighlightColor: var(--gray-5-alpha);
  --IconButton-onFocus-boxShadow: 0 0 0 1px var(--color-surface-primary),
    0 0 0 3px var(--color-focus-clarity);

  --IconButton--contained-backgroundColor: var(--color-surface-accent-primary);
  --IconButton--contained-color: var(--color-object-high-emphasis-inverse);
  --IconButton--contained-onActive-backgroundColor: var(--primary-green-100);
  --IconButton--contained-onHover-backgroundColor: var(--primary-green-100);

  --IconButton--outlined-borderColor: var(--color-border-accent-primary);
  --IconButton--outlined-color: var(--color-object-accent-primary);
  --IconButton--outlined-onActive-backgroundColor: var(--primary-green-5);
  --IconButton--outlined-onHover-backgroundColor: var(--primary-green-5);

  --IconButton--lighted-backgroundColor: var(
    --color-surface-accent-primary-light
  );
  --IconButton--lighted-color: var(--color-object-accent-primary);
  --IconButton--lighted-onActive-backgroundColor: var(--primary-green-10);
  --IconButton--lighted-onHover-backgroundColor: var(--primary-green-10);

  --IconButton--neutral-backgroundColor: var(--color-surface-tertiary);
  --IconButton--neutral-color: var(--color-object-medium-emphasis);
  --IconButton--neutral-onActive-backgroundColor: var(--gray-20-alpha);
  --IconButton--neutral-onHover-backgroundColor: var(--gray-20-alpha);

  --IconButton--danger-borderColor: var(--color-border-caution);
  --IconButton--danger-color: var(--color-object-caution);
  --IconButton--danger-onActive-backgroundColor: var(--caution-red-5-alpha);
  --IconButton--danger-onHover-backgroundColor: var(--caution-red-5-alpha);
}

/*
 * IconButton
*/
.spui-IconButton {
  align-items: center;
  border-radius: 100%;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  margin: 0;
  -webkit-tap-highlight-color: var(--IconButton-tapHighlightColor);
  text-align: center;
  transition: background-color 0.3s;
}

.spui-IconButton:disabled {
  opacity: 0.3;
}

.spui-IconButton:focus {
  box-shadow: var(--IconButton-onFocus-boxShadow);
  outline: none;
}

.spui-IconButton:focus:not(:focus-visible) {
  box-shadow: none;
}

/*
 * IconButton sizes
*/
.spui-IconButton--large {
  font-size: 1.375em;
  height: 48px;
  width: 48px;
}

.spui-IconButton--medium {
  font-size: 1.25em;
  height: 40px;
  width: 40px;
}

.spui-IconButton--small {
  font-size: 1em;
  height: 32px;
  width: 32px;
}

.spui-IconButton--exSmall {
  font-size: 1em;
  height: 24px;
  width: 24px;
}

/*
 * IconButton variants
*/
/* contained */
.spui-IconButton--contained {
  background-color: var(--IconButton--contained-backgroundColor);
  border: none;
  color: var(--IconButton--contained-color);
}

.spui-IconButton--contained:active {
  background-color: var(--IconButton--contained-onActive-backgroundColor);
}

@media (hover: hover) {
  .spui-IconButton--contained:not([disabled]):hover {
    background-color: var(--IconButton--contained-onHover-backgroundColor);
  }
}

/* outlined */
.spui-IconButton--outlined {
  background-color: transparent;
  border: 2px solid var(--IconButton--outlined-borderColor);
  color: var(--IconButton--outlined-color);
}

.spui-IconButton--outlined:active {
  background-color: var(--IconButton--outlined-onActive-backgroundColor);
}

@media (hover: hover) {
  .spui-IconButton--outlined:not([disabled]):hover {
    background-color: var(--IconButton--outlined-onHover-backgroundColor);
  }
}

/* lighted */
.spui-IconButton--lighted {
  background-color: var(--IconButton--lighted-backgroundColor);
  border: none;
  color: var(--IconButton--lighted-color);
  padding-bottom: 8px;
  padding-top: 8px;
}

.spui-IconButton--lighted:active {
  background-color: var(--IconButton--lighted-onActive-backgroundColor);
}

@media (hover: hover) {
  .spui-IconButton--lighted:not([disabled]):hover {
    background-color: var(--IconButton--lighted-onHover-backgroundColor);
  }
}

/* neutral */
.spui-IconButton--neutral {
  background-color: var(--IconButton--neutral-backgroundColor);
  border: none;
  color: var(--IconButton--neutral-color);
}

.spui-IconButton--neutral:active {
  background-color: var(--IconButton--neutral-onActive-backgroundColor);
}

@media (hover: hover) {
  .spui-IconButton--neutral:not([disabled]):hover {
    background-color: var(--IconButton--neutral-onHover-backgroundColor);
  }
}

/* danger */
.spui-IconButton--danger {
  background-color: transparent;
  border: 2px solid var(--IconButton--danger-borderColor);
  color: var(--IconButton--danger-color);
}

.spui-IconButton--danger:active {
  background-color: var(--IconButton--danger-onActive-backgroundColor);
}

@media (hover: hover) {
  .spui-IconButton--danger:hover {
    background-color: var(--IconButton--danger-onHover-backgroundColor);
  }
}
