/*
 * InlineNotification
 * NOTE: Styles can be overridden with "--InlineNotification-*" variables
*/

@import '../Button/Button.css';
@import '../IconButton/IconButton.css';
@import '../LinkButton/LinkButton.css';
@import '../TextLink/TextLink.css';
@import '../TextButton/TextButton.css';

:root {
  --InlineNotification--neutral-backgroundColor: var(--white-20-alpha);
  --InlineNotification--neutral-color: var(--color-text-high-emphasis-inverse);
  --InlineNotification--neutral-onHover-backgroundColor: var(--white-30-alpha);
  --InlineNotification--neutral-onActive-backgroundColor: var(--white-30-alpha);

  --InlineNotification--outlined-onHover-backgroundColor: var(--white-50-alpha);
  --InlineNotification--outlined-onActive-backgroundColor: var(
    --white-50-alpha
  );

  --InlineNotification--contained-backgroundColor: var(--color-surface-primary);
  --InlineNotification--contained-color: var(--color-text-accent-primary);
  --InlineNotification--contained-onHover-backgroundColor: var(
    --white-70-alpha
  );
  --InlineNotification--contained-onActive-backgroundColor: var(
    --white-70-alpha
  );

  --InlineNotification--danger-borderColor: var(
    --color-border-high-emphasis-inverse
  );
  --InlineNotification--danger-color: var(--color-text-high-emphasis-inverse);
  --InlineNotification--danger-onHover-backgroundColor: var(--white-50-alpha);
  --InlineNotification--danger-onActive-backgroundColor: var(--white-50-alpha);
}

.spui-InlineNotification {
  border-radius: 12px;
  width: 100%;
}
.spui-InlineNotification--full {
  border-radius: 0px;
}
.spui-InlineNotification-content {
  align-items: center;
  display: flex;
  padding: 8px 12px;
}
.spui-InlineNotification-icon {
  align-items: center;
  display: flex;
  font-size: 1.375em;
  justify-content: center;
  margin-right: 8px;
  padding: 5px 0;
}
.spui-InlineNotification-avatar {
  flex: none;
  height: 36px;
  margin-right: 8px;
  position: relative;
  width: 36px;
}
.spui-InlineNotification-avatar::before {
  border: solid 1px var(--color-border-low-emphasis);
  border-radius: 50%;
  box-sizing: border-box;
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
}
.spui-InlineNotification-avatarInner {
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.spui-InlineNotification-text {
  flex: 1;
  font-size: 0.875em;
  font-weight: bold;
  line-height: 1.4;
  margin: 0;
  min-width: 0;
  overflow-wrap: break-word;
}
.spui-InlineNotification-iconButton {
  margin-left: 16px;
  padding: 5px 0;
}
.spui-InlineNotification-textButton {
  flex: none;
  font-size: 0.75em;
  margin-left: 16px;
}
.spui-InlineNotification-button {
  flex: none;
  margin-left: 16px;
  padding: 2px 0;
}

/* icon, text, button が並ぶ場合のみpaddingを調整 */
.spui-InlineNotification-icon ~ .spui-InlineNotification-button {
  padding: 5px 0;
}

/* === Information Normal === */
.spui-InlineNotification--information {
  background-color: var(--color-surface-tertiary);
}
.spui-InlineNotification--information .spui-InlineNotification-icon {
  color: var(--color-object-medium-emphasis);
}
.spui-InlineNotification--information .spui-InlineNotification-text {
  color: var(--color-text-medium-emphasis);
}
.spui-InlineNotification--information .spui-InlineNotification-iconButton {
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --IconButton--neutral-backgroundColor: transparent;
}
.spui-InlineNotification--information .spui-InlineNotification-textButton {
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --TextButton-color: var(--color-text-medium-emphasis);
}

/* === Information Emphasized === */
.spui-InlineNotification--information ~ .spui-InlineNotification--emphasized {
  background-color: var(--color-surface-accent-neutral-high-emphasis);
}
.spui-InlineNotification--information.spui-InlineNotification--emphasized
  .spui-InlineNotification-icon {
  color: var(--color-object-high-emphasis-inverse);
}
.spui-InlineNotification--information.spui-InlineNotification--emphasized
  .spui-InlineNotification-text {
  color: var(--color-text-high-emphasis-inverse);
}
.spui-InlineNotification--information.spui-InlineNotification--emphasized
  .spui-InlineNotification-iconButton {
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --IconButton--neutral-color: var(--InlineNotification--neutral-color);
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --IconButton--neutral-onHover-backgroundColor: var(
    --InlineNotification--neutral-onHover-backgroundColor
  );
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --IconButton--neutral-onActive-backgroundColor: var(
    --InlineNotification--neutral-onActive-backgroundColor
  );
}
.spui-InlineNotification--information.spui-InlineNotification--emphasized
  .spui-InlineNotification-textButton {
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --TextButton-color: var(--color-text-high-emphasis-inverse);
}
.spui-InlineNotification--information.spui-InlineNotification--emphasized
  .spui-InlineNotification-button {
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --Button--neutral-backgroundColor: var(
    --InlineNotification--neutral-backgroundColor
  );
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --Button--neutral-color: var(--InlineNotification--neutral-color);
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --Button--neutral-onHover-backgroundColor: var(
    --InlineNotification--neutral-onHover-backgroundColor
  );
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --Button--neutral-onActive-backgroundColor: var(
    --InlineNotification--neutral-onActive-backgroundColor
  );
}

/* === Confirmation Normal === */
.spui-InlineNotification--confirmation {
  background-color: var(--color-surface-accent-primary-light);
}
.spui-InlineNotification--confirmation .spui-InlineNotification-icon {
  color: var(--color-object-accent-primary);
}
.spui-InlineNotification--confirmation .spui-InlineNotification-text {
  color: var(--color-text-accent-primary);
}
.spui-InlineNotification--confirmation .spui-InlineNotification-iconButton {
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --IconButton--outlined-borderColor: none;
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --IconButton--outlined-onHover-backgroundColor: var(
    --InlineNotification--outlined-onHover-backgroundColor
  );
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --IconButton--outlined-onActive-backgroundColor: var(
    --InlineNotification--outlined-onActive-backgroundColor
  );
}
.spui-InlineNotification--confirmation .spui-InlineNotification-button {
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --Button--outlined-onHover-backgroundColor: var(
    --InlineNotification--outlined-onHover-backgroundColor
  );
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --Button--outlined-onActive-backgroundColor: var(
    --InlineNotification--outlined-onActive-backgroundColor
  );
}

/* === Confirmation Emphasized === */
.spui-InlineNotification--confirmation ~ .spui-InlineNotification--emphasized {
  background-color: var(--color-surface-accent-primary);
}
.spui-InlineNotification--confirmation.spui-InlineNotification--emphasized
  .spui-InlineNotification-icon {
  color: var(--color-object-high-emphasis-inverse);
}
.spui-InlineNotification--confirmation.spui-InlineNotification--emphasized
  .spui-InlineNotification-text {
  color: var(--color-text-high-emphasis-inverse);
}
.spui-InlineNotification--confirmation.spui-InlineNotification--emphasized
  .spui-InlineNotification-textButton {
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --TextButton-color: var(--color-text-high-emphasis-inverse);
}
.spui-InlineNotification--confirmation.spui-InlineNotification--emphasized
  .spui-InlineNotification-button {
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --Button--contained-backgroundColor: var(
    --InlineNotification--contained-backgroundColor
  );
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --Button--contained-color: var(--InlineNotification--contained-color);
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --Button--contained-onHover-backgroundColor: var(
    --InlineNotification--contained-onHover-backgroundColor
  );
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --Button--contained-onActive-backgroundColor: var(
    --InlineNotification--contained-onActive-backgroundColor
  );
}

/* === Error Normal === */
.spui-InlineNotification--error {
  background-color: var(--color-surface-caution-light);
}
.spui-InlineNotification--error .spui-InlineNotification-icon {
  color: var(--color-object-caution);
}
.spui-InlineNotification--error .spui-InlineNotification-text {
  color: var(--color-text-caution);
}
.spui-InlineNotification--error .spui-InlineNotification-iconButton {
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --IconButton--danger-borderColor: none;
}
.spui-InlineNotification--error .spui-InlineNotification-textButton {
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --TextButton-color: var(--color-text-caution);
}

/* === Error Emphasized === */
.spui-InlineNotification--error ~ .spui-InlineNotification--emphasized {
  background-color: var(--color-surface-caution);
}
.spui-InlineNotification--error.spui-InlineNotification--emphasized
  .spui-InlineNotification-icon {
  color: var(--color-object-high-emphasis-inverse);
}
.spui-InlineNotification--error.spui-InlineNotification--emphasized
  .spui-InlineNotification-text {
  color: var(--color-text-high-emphasis-inverse);
}
.spui-InlineNotification--error.spui-InlineNotification--emphasized
  .spui-InlineNotification-iconButton {
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --IconButton--danger-color: var(--InlineNotification--danger-color);
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --IconButton--danger-onHover-backgroundColor: var(
    --InlineNotification--danger-onHover-backgroundColor
  );
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --IconButton--danger-onActive-backgroundColor: var(
    --InlineNotification--danger-onActive-backgroundColor
  );
}
.spui-InlineNotification--error.spui-InlineNotification--emphasized
  .spui-InlineNotification-textButton {
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --TextButton-color: var(--color-text-high-emphasis-inverse);
}
.spui-InlineNotification--error.spui-InlineNotification--emphasized
  .spui-InlineNotification-button {
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --Button--danger-color: var(--InlineNotification--danger-color);
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --Button--danger-borderColor: var(--InlineNotification--danger-borderColor);
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --Button--danger-onHover-backgroundColor: var(
    --InlineNotification--danger-onHover-backgroundColor
  );
  /* stylelint-disable-next-line plugin/selector-bem-pattern */
  --Button--danger-onActive-backgroundColor: var(
    --InlineNotification--danger-onActive-backgroundColor
  );
}
