name: build icon via webhook

on:
  workflow_dispatch:
    inputs:
      modified_components:
        description: 'JSON array for modified components'
        required: true
        default: '["ALL"]'

permissions:
  contents: write
  pull-requests: write

jobs:
  build_icons:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: package.json
      - name: restore lerna
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}-v2
      - run: yarn install --frozen-lockfile
      - name: Update Icons
        env:
          FIGMA_TOKEN: ${{ secrets.FIGMA_TOKEN }}
          FIGMA_ACCESS_TOKEN: ${{ secrets.FIGMA_TOKEN_CODE_CONNECT }} # This is for Figma Code Connect in spindle-ui
          FILE_KEY: ${{ secrets.FIGMA_ICON_FILE_KEY }}
          NODE_ID: ${{ secrets.FIGMA_ICON_NODE_ID }}
          ICON_NAMES: ${{ github.event.inputs.modified_components }}
        run: |
          node -p "JSON.stringify({ fileKey: '$FILE_KEY', nodeId: '$NODE_ID', dest: 'dist', iconNames: '$ICON_NAMES' })" > packages/spindle-icons/figma.json
          yarn lerna run --scope @openameba/spindle-icons build
          yarn lerna run --scope @openameba/spindle-ui icon
          yarn fix
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          committer: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          commit-message: 'feat(spindle-icons): update icons'
          branch: feat/build-icon-via-webhook
          delete-branch: true
          title: 'feat(spindle-icons): update icons'
          body: ${{ github.event.inputs.modified_components }}
          labels: |
            spindle-icons
            spindle-ui
