name: build design tokens via webhook

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  build_tokens:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: package.json
      - name: restore lerna
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}-v2
      - run: yarn install --frozen-lockfile
      - name: Build Tokens
        env:
          FIGMA_TOKEN: ${{ secrets.FIGMA_TOKEN }}
          FIGMA_COLOR_PRIMITIVE_FILE_ID: ${{ secrets.FIGMA_COLOR_PRIMITIVE_FILE_ID }}
          FIGMA_COLOR_THEME_FILE_ID: ${{ secrets.FIGMA_COLOR_THEME_FILE_ID }}
          FIGMA_COLOR_THEME_DARK_FILE_ID: ${{ secrets.FIGMA_COLOR_THEME_DARK_FILE_ID }}
          FIGMA_DROP_SHADOW_FILE_ID: ${{ secrets.FIGMA_DROP_SHADOW_FILE_ID }}
        run: |
          yarn lerna run --scope @openameba/spindle-tokens export
          # yarn lerna run --scope @openameba/spindle-tokens build
          yarn fix
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          committer: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          commit-message: 'feat(spindle-tokens): update design tokens'
          branch: feat/build-tokens-via-webhook
          delete-branch: true
          title: 'feat(spindle-tokens): update design tokens'
          body: ''
          labels: |
            spindle-tokens
