name: build

on:
  - push
  - pull_request

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: pnpm/action-setup@v4
        with:
          version: 10.24.0
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: package.json
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      # Build all packages except spindle-icons to check if the system works or not
      # spindle-icons is excluded because it requires FIGMA_TOKEN and fetches data from Figma API on every build
      - name: build all packages
        run: |
          pnpm lerna run --ignore @openameba/spindle-icons build
          pnpm build:extensionReplace
