name: build icon from Figma

on:
  workflow_dispatch:
    inputs:
      fileKey:
        description: Figma file key
        type: string
        required: true
      page:
        description: Stringified selected page (id, name)
        type: string
        default: '{}'
        required: true
      selection:
        description: Stringified array of the selected nodes (id, name)
        type: string
        default: '[]'
        required: true

permissions:
  contents: write
  pull-requests: write

jobs:
  build_icons:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: package.json
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - name: Update Icons
        env:
          FIGMA_TOKEN: ${{ secrets.FIGMA_TOKEN }}
          FIGMA_ACCESS_TOKEN: ${{ secrets.FIGMA_TOKEN_CODE_CONNECT }} # This is for Figma Code Connect in spindle-ui
          FILE_KEY: ${{ secrets.FIGMA_ICON_FILE_KEY }}
          NODE_ID: ${{ secrets.FIGMA_ICON_NODE_ID }}
          ICONS: ${{ github.event.inputs.selection }}
        run: |
          node -p "JSON.stringify({ fileKey: '$FILE_KEY', nodeId: '$NODE_ID', dest: 'dist', iconNames: $ICONS.map(({name}) => name) })" > packages/spindle-icons/figma.json
          pnpm lerna run --scope @openameba/spindle-icons build
          pnpm lerna run --scope @openameba/spindle-ui icon
          pnpm fix
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          committer: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          commit-message: 'feat(spindle-icons): update icons'
          branch: feat/build-icon-via-webhook
          delete-branch: true
          title: 'feat(spindle-icons): update icons'
          body: ${{ github.event.inputs.modified_components }}
          labels: |
            spindle-icons
            spindle-ui
