name: deploy UI preview

on:
  - pull_request_target

jobs:
  check_paths:
    runs-on: ubuntu-latest
    # need specified label if Pull-request from fork
    if: >
      github.event.pull_request.head.repo.full_name == github.repository || (
        github.event.pull_request.head.repo.full_name != github.repository &&
        github.event.pull_request.action == 'labeled' &&
        contains(github.event.pull_request.labels.*.name, 'allow execute workflow')
      )
    outputs:
      ui: ${{ steps.filter.outputs.ui }}
    steps:
      - uses: actions/checkout@v3
        with:
          ref: 'refs/pull/${{ github.event.number }}/merge'
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            ui:
              - 'packages/spindle-ui/**'
  build_and_preview:
    runs-on: ubuntu-latest
    needs: check_paths
    if: ${{ needs.check_paths.outputs.ui == 'true' }}
    permissions:
      checks: write
      pull-requests: write
      contents: read
    steps:
      - uses: actions/checkout@v3
        with:
          ref: 'refs/pull/${{ github.event.number }}/merge'
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - run: yarn install --frozen-lockfile
      - run: |
          yarn lerna run --scope @openameba/spindle-hooks build
          yarn lerna run --scope @openameba/spindle-ui storybook:build
      - name: deploy to preview channel
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT }}'
          expires: 30d
          entryPoint: ./packages/spindle-ui/
