name: deploy UI catalog

on:
  push:
    branches:
      - deploy/ui-catalog
    tags:
      - '@openameba/*'

jobs:
  deploy_ui_catalog:
    name: deploy_ui_catalog
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2-beta
        with:
          node-version: 14
      - name: restore lerna
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
      - run: yarn install
      - run: yarn bootstrap
      - name: Update UI catalog
        run: |
          npx lerna run --scope @openameba/spindle-ui storybook:build
          npx lerna run --scope @openameba/spindle-ui storybook:deploy -- --token $FIREBASE_TOKEN
