name: deploy UI preview

on:
  - pull_request_target

jobs:
  check_paths:
    runs-on: ubuntu-latest
    # need specified label if Pull-request from fork
    if: >
      github.event.pull_request.head.repo.full_name == github.repository || (
        github.event.pull_request.head.repo.full_name != github.repository &&
        github.event.pull_request.action == 'labeled' &&
        contains(github.event.pull_request.labels.*.name, 'allow execute workflow')
      )
    outputs:
      ui: ${{ steps.filter.outputs.ui }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: 'refs/pull/${{ github.event.number }}/merge'
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            ui:
              - 'packages/spindle-ui/**'
  build_and_preview:
    runs-on: ubuntu-latest
    needs: check_paths
    if: ${{ needs.check_paths.outputs.ui == 'true' }}
    permissions:
      checks: write
      pull-requests: write
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: 'refs/pull/${{ github.event.number }}/merge'
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: package.json
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - run: |
          pnpm lerna run --scope @openameba/spindle-hooks build
          pnpm lerna run --scope @openameba/spindle-ui storybook:build
      - name: deploy to preview channel
        uses: FirebaseExtended/action-hosting-deploy@e2eda2e106cfa35cdbcf4ac9ddaf6c4756df2c8c # v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT }}'
          expires: 30d
          entryPoint: ./packages/spindle-ui/
