name: deploy theme switch

on:
  push:
    branches:
      - main
    paths:
      - 'packages/spindle-theme-switch/**'

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./packages/spindle-theme-switch/
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: 16
      - run: yarn install --frozen-lockfile
      - run: yarn build
      - name: deploy to live channel
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT }}"
          entryPoint: ./packages/spindle-theme-switch/
          channelId: live
          firebaseToolsVersion: v12.9.1
