name: test

on:
  - push
  - pull_request

env:
  TZ: Asia/Tokyo

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: package.json
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - run: |
          pnpm --filter @openameba/spindle-hooks build
          pnpm test
        env:
          CHROME_PATH: /usr/bin/google-chrome-stable

