/**
 * spindle-dark theme
 * Based on A11y dark theme: https://github.com/highlightjs/highlight.js/blob/main/src/styles/a11y-dark.css
 * @author: ericwbailey
*/

/* NOTE: This CSS requires ameba-color-palette.css https://github.com/openameba/ameba-color-palette.css */

.hljs-comment,
.hljs-quote {
  color: var(--white-60-alpha);
}

.hljs-deletion,
.hljs-name,
.hljs-regexp,
.hljs-selector-class,
.hljs-selector-id,
.hljs-tag,
.hljs-template-variable,
.hljs-variable {
  color: var(--caution-red-vivid-100);
}

.hljs-built_in,
.hljs-builtin-name,
.hljs-link,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-params,
.hljs-type {
  color: #e19c40;
}

.hljs-attr,
.hljs-attribute {
  color: #e19c40;
}

.hljs-addition,
.hljs-bullet,
.hljs-string,
.hljs-symbol {
  color: var(--secondary-green-50);
}

.hljs-section,
.hljs-title {
  color: #8dcfec;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #da8eed;
}

.hljs {
  /* This layer structure is defined in Spindle */
  background-image: linear-gradient(90deg, var(--white-5-alpha) 0%, var(--white-5-alpha) 100%), linear-gradient(90deg, var(--gray-90) 0%, var(--gray-90) 100%);
  color: var(--white-80-alpha);
  display: block;
  overflow-x: auto;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}

@media screen and (-ms-high-contrast: active) {
  .hljs-addition,
  .hljs-attribute,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-bullet,
  .hljs-comment,
  .hljs-link,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-params,
  .hljs-quote,
  .hljs-string,
  .hljs-symbol,
  .hljs-type {
    color: highlight;
  }

  .hljs-keyword,
  .hljs-selector-tag {
    font-weight: 700;
  }
}
